<!-- sms/templates/welcome.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Django Project</title>
    <script src="https://cdn.tailwindcss.com"></script> <!-- Including Tailwind CSS -->
</head>

<body class="bg-gray-100 text-center py-10">

    <div class="max-w-3xl mx-auto bg-white p-8 rounded-xl shadow-lg">
        <h1 class="text-4xl font-semibold text-blue-600">Calamity Alert Warning System</h1>
        <p class="text-lg text-gray-700 mt-4">We notify everyone everytime there is a calamity in your area.</p>

        <div class="mt-8">
            <a href="{% url 'send_sms' %}"
                class="text-white bg-blue-600 hover:bg-blue-800 py-2 px-6 rounded-full text-lg transition duration-300">
                Alert Everyone
            </a>
        </div>
    </div>

</body>

</html>